@use 'sass:map';
@import 'https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap';

$text-color: #252422ff;
$bg-color: #f4f4f4;
$ft-color: #191918;
$ft-txt-color: #5e5e5e;

body {
  font-family: 'Hanken Grotesk', sans-serif;
  color: $text-color;
  background-color: $bg-color;
}

.noise {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  visibility: visible;
  background-image: url('https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif');
  background-position: 0 0;
  background-size: auto;
  opacity: 0.035;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.exclude-noise {
  position: relative;
  z-index: 2;
  background: none;
}

a {
  color: black;
  text-decoration: none;
}

.divider {
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-top: 1px solid $text-color;

  &-short {
    margin-top: 1rem;
    margin-right: 94%;
    margin-bottom: 6rem;
    border-top: 2px solid $text-color;
  }

  &-news {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #000;
  }
}

figure {
  path {
    fill: $text-color;
  }
}

// Section: Navigation
.section-nav {
  .nav__wrapper {
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 3.125rem 5rem;

    // padding-inline: 5.4vw;
  }

  .nav {
    display: grid;
    grid-template-columns: 10rem 1fr repeat(6, auto) 1fr repeat(1, auto);
    align-items: center;
    margin: 0 auto;

    .logo {
      width: 10rem;
      height: 1.375rem;
    }

    path {
      fill: #fff;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 3 / span 6;
    padding-left: 0;
    margin-block: 0;
    list-style: none;

    &__items {
      display: grid;
      align-items: center;
      padding-right: 3.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu-all {
    grid-column: -1/ -1;
    width: 1.375rem;
    height: 0.4375rem;

    circle {
      fill: #fff;
    }
  }

  .menu-toggle {
    display: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.section {
  padding-inline: 0;
  margin-inline: 0;

  .wrapper {
    padding-inline: 5.4vw;
    margin: 0 auto;
  }

  .video-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .video {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #home-intro {
    .intro-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-block: 15vw 8rem;
      cursor: pointer;

      .adage,
      .webby,
      .campaign {
        display: flex;
        flex-direction: column;
        align-items: center;

        figure {
          justify-content: center;
          width: 12rem;
          transition: transform 0.2s ease-in-out;

          path {
            fill: $text-color;
          }
        }

        &:hover {
          text-decoration: underline;

          figure {
            transform: scale(1.05);
          }
        }

        span {
          max-width: 12rem;
          margin-top: 2.1875rem;
          font-size: 0.8125rem;
          text-align: center;
          text-transform: uppercase;
          word-wrap: break-word;
        }
      }
    }
  }

  #home-overview {
    .overview-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-block: 5rem 5rem;

      .contents-left {
        p {
          display: block;
          max-width: 40rem;
          margin-block: 0 1em;
          margin-inline: 0 0;
          font-size: 2.375rem;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: -0.05rem;
          word-wrap: break-word;
          vertical-align: baseline;
          unicode-bidi: isolate;
        }

        .btn-stw {
          position: relative;
          display: inline-block;
          overflow: hidden;

          p {
            width: fit-content;
            padding: 0.6em 2.5rem;
            font-size: 0.875rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: -0.01rem;
            border: 1px solid $text-color;
            border-radius: 1.6rem;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: white;
              background-color: $text-color;
            }
          }
        }
      }

      figure {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 2 / -1;
        margin-block: 0;
      }
    }
  }

  #home-case-studies {
    .cs-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1.25rem;

      .item {
        cursor: pointer;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      h3 {
        font-size: 1.375rem;
        text-transform: uppercase;
      }

      p {
        max-width: 13rem;
        margin-top: 0.625rem;
        font-size: 0.875rem;
        line-height: 1.3;
        text-transform: uppercase;
        word-wrap: break-word;
      }
    }
  }

  #home-clients {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 1rem;
      font-size: 0.875rem;

      .col-3 {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 3 / 4;
      }
    }

    h2 {
      font-size: 2.625rem;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
    }

    .slide-img {
      display: flex;
      margin-block: 6rem 6rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;

      .google,
      .kfc,
      .wilson,
      .at,
      .patagonia {
        flex: 0 0 auto;
        width: 100%;
        max-width: 30rem;
        padding-right: 4.6875rem;
        word-wrap: break-word;
        scroll-snap-align: start;

        a {
          text-decoration: underline;
        }

        h3 {
          font-size: 1.375rem;
          text-transform: uppercase;
        }

        p {
          font-size: 1.125rem;
        }

        .logo {
          margin-block: 1rem;
          text-align: center;

          img {
            width: 285px;
            height: 40px;
            object-fit: contain;
            object-position: left;
          }
        }
      }
    }
  }

  #home-spotlight {
    .spotlight-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.25rem;

      .contents-left {
        max-width: 43rem;

        q {
          margin-bottom: 1.25rem;
          font-size: 6.25vw;
          font-weight: 800;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: -0.125rem;
          quotes: none;
        }

        span {
          display: block;
          margin-top: 1.25rem;
          font-size: 1.125rem;
          text-transform: uppercase;

          p {
            margin-top: 4.375rem;
          }

          .spothlight-btn {
            width: fit-content;
            padding: 0.5em 2rem;
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: -0.01rem;
            border: 1px solid $text-color;
            border-radius: 1.6rem;
          }
        }
      }
    }
  }

  #home-news {
    margin-top: 10rem;

    .title {
      display: flex;
      place-content: flex-end space-between;
      align-items: flex-end;

      h2 {
        max-width: 250px;
        font-size: 2.625rem;
        line-height: 1;
        text-transform: uppercase;
        word-wrap: break-word;
      }

      p {
        width: fit-content;
        padding: 0.5em 2rem;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -0.01rem;
        border: 1px solid $text-color;
        border-radius: 1.6rem;
      }
    }

    .news {
      &__items {
        .item {
          .item-body {
            display: grid;
            grid-template-columns: 1.5fr 2fr 1fr;
            column-gap: 1.25rem;
            margin-bottom: 5rem;
          }

          &:hover .news-body h5 {
            text-decoration: underline;
          }

          .news-body {
            h5 {
              max-width: 38rem;
              margin: 0;
              font-size: 2.2rem;
              font-weight: 500;
              line-height: 1.1;
              text-transform: uppercase;
              word-wrap: break-word;
            }

            figure {
              width: 1.875rem;
              height: 1.875rem;
            }

            span {
              font-size: 0.875rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  #footer {
    padding-block: 7rem;
    line-height: 1;
    color: $bg-color;
    background-color: #252422;
    fill: $bg-color;

    #figure-subtitle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 2rem;

      p {
        max-width: 40rem;
        margin-top: 0;

        a {
          text-decoration: underline;
        }
      }
    }

    .footer-row {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      #col-search {
        grid-column: 1 / span 2;

        h6 {
          margin: 0;
          font-size: 1.125rem;
          font-weight: 400;
        }

        input {
          width: 100%;
          padding-block: 1rem;
          padding-inline: 0;
          font-size: 1.125rem;
          font-weight: 300;
          cursor: text;
          background-color: $text-color;
          border: none;

          &::placeholder {
            color: white;
          }

          &:focus {
            caret-color: $bg-color;
            outline: none;
          }
        }

        .input-arrow {
          figure {
            display: flex;
            align-items: center;
            width: 5%;
          }

          display: flex;
        }

        .input-underline {
          border: 0.05rem $bg-color solid;
        }
      }

      .footer-col {
        margin-top: 7.5rem;

        h6 {
          margin-block: 0 2.8125rem;
          font-size: 1.125rem;
          font-weight: 400;
          text-transform: uppercase;
        }

        ul {
          li {
            padding-block: 0.1875rem;
            font-size: 1.125rem;
            font-weight: 300;

            :hover {
              text-decoration: underline;
            }
          }

          padding-inline: 0;
          list-style: none;
        }
      }

      #col-1 {
        grid-column: 4 / span 1;
      }

      figure {
        width: 10%;
        margin: 0;

        path {
          fill: #fff;
        }
      }
    }

    .footer-copyright {
      padding: 1.25rem 5rem;
    }
  }

  #footer-copyright {
    .copyright {
      display: flex;
      justify-content: space-between;
    }

    padding: 1.25rem 5rem;
    font-size: 0.6875rem;
    color: $ft-txt-color;
    background-color: $ft-color;
  }

  #fixed-footer {
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0.875rem 3.75rem;
    font-size: 0.75rem;
    background-color: #191918;

    .footer {
      &__fixed {
        display: grid;
        grid-template-columns: 5rem 1fr 62rem 1fr;
        align-items: center;

        &__logo {
          width: 2.6875rem;
          height: 0.8125rem;

          path {
            fill: #fff;
          }
        }

        &__desc {
          align-items: center;
          margin: 0;
          color: #fff;
          text-transform: uppercase;

          p {
            margin: 0;
            line-height: 0.75rem;
          }
        }

        &__btn {
          box-sizing: border-box;
          grid-column: 5 / -2;
          max-width: 150px;
          padding: 0.1rem;
          font-weight: 600;
          line-height: 1.75rem;
          color: #fff;
          text-transform: uppercase;
          background-color: transparent;
          border: 0.07rem solid;
          border-radius: 2rem;
        }

        &__close {
          grid-column: 6 / -1;
          width: 0.75rem;
          height: 0.75rem;

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

//Responsible
@media (width <= 1280px) {
  .section-nav {
    .nav {
      .logo {
        width: 8.5625rem;
        height: 1.125rem;
      }

      .menu__items,
      .menu-all {
        display: none;
      }

      .menu-toggle {
        display: block;
        grid-column: -1 / -1;
        text-align: right;
      }
    }
  }
}
